@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font size is generally 16px, 62.5% of that is 10px; and every font-sizes are specified relative to it */
  font-size: 62.5%;
}

body {
  background-color: rgb(26, 0, 31);

  width: 100vw;
  height: 100vh;

  /* typography */
  color: #f7f7f7;
  font-size: 1.6rem;
  font-family: "Hubballi", monospace;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-form {
  background-color: rgb(50, 0, 59);
  border: 4px solid rgba(150, 150, 150, 0.3);
  padding: 6rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-header {
  font-size: 3.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-group {
  margin: 1rem 0;
}

.form-label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(26, 0, 31);
  color: #f7f7f7;
  font: inherit; /* use my font, instead of weird */
  outline: none;
  border: 2px solid transparent;
  transition: all 0.2s;
}

.form-input:focus {
  border: 2px solid #9f95da;
  box-shadow: 0 0 4rem rgba(159, 149, 218, 0.4);
  background-color: rgb(26, 0, 31);
}

.form-input:hover {
  background-color: rgb(30, 0, 39);
}

.submit-button {
  margin-top: 2rem;
  display: block;
  width: 70%;
  padding: 0.7rem 2rem;
  font: inherit;
  font-size: 1.1em;
  border-radius: 2rem;
  background-color: #52449e;
  color: #f7f7f7;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  outline: none;
  user-select: none;
  text-align: center;
}

.submit-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(159, 149, 218, 0.7);
  transform: translateY(-3px); /* move up a bit to create a crazy effect */
}

.submit-button:active {
  box-shadow: 0 0.5rem 0.7rem rgba(159, 149, 218, 0.7);
  transform: translateY(-1px); /* move down to immitate press effect */
}
